In [1]:
#데이터 처리 라이브러리
import pandas as pd
import numpy as np

#머신러닝 라이브러리
from sklearn import tree

In [4]:
basicData = pd.read_csv("../dataset/train.csv")
basicData

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,TRAIN_2202,119,230.0,353.0,367.0,360.0,4.7,4.6,4.5,4.5,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,TRAIN_2203,611,266.0,337.0,400.0,368.5,3.1,3.0,3.0,3.0,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,TRAIN_2204,650,237.0,353.0,362.0,357.5,3.0,3.0,2.9,2.9,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,TRAIN_2205,363,281.0,337.0,403.0,370.0,3.9,3.9,3.8,3.8,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,TRAIN_2206,17,228.0,389.0,398.0,393.5,5.3,5.2,5.2,5.1,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [57]:
totalCol = list(basicData)
targetColIndex = []
for i in range(len(totalCol)):
    targetColIndex.append(i)
    if totalCol[i] == "수관폭평균" :
        break
targetColIndex

[0, 1, 2, 3, 4, 5]

In [66]:
featuredData = basicData.iloc[:,targetColIndex]
featCol = list(featuredData.columns)
featCol

['ID', '착과량(int)', '수고(m)', '수관폭1(min)', '수관폭2(max)', '수관폭평균']

In [67]:
changeCol = []
for i in range (len(featCol)):
    splitCol = featCol[i].split("(")
    changeCol.append(splitCol[0])
    featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
featuredData

C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\2506950171.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredData.rename(columns={featCol[i]:changeCol[i]}, inplace=True)

              ID  착과량     수고   수관폭1   수관폭2  수관폭평균
0     TRAIN_0000  692  275.0  287.0  292.0  289.5
1     TRAIN_0001  534  293.0  284.0  336.0  310.0
2     TRAIN_0002  634  300.0  392.0  450.0  421.0
3     TRAIN_0003  639  289.0  368.0  379.0  373.5
4     TRAIN_0004  496  306.0  353.0  358.0  355.5
...          ...  ...    ...    ...    ...    ...
2202  TRAIN_2202  119  230.0  353.0  367.0  360.0
2203  TRAIN_2203  611  266.0  337.0  400.0  368.5
2204  TRAIN_2204  650  237.0  353.0  362.0  357.5
2205  TRAIN_2205  363  281.0  337.0  403.0  370.0
2206  TRAIN_2206   17  228.0  389.0  398.0  393.5

[2207 rows x 6 columns]

In [68]:
featuredData.isnull().sum()

ID       0
착과량      0
수고       0
수관폭1     0
수관폭2     0
수관폭평균    0
dtype: int64

In [69]:
featuredData.corr()

            착과량        수고      수관폭1      수관폭2     수관폭평균
착과량    1.000000  0.007002  0.021279  0.037168  0.030611
수고     0.007002  1.000000  0.456394  0.484295  0.490456
수관폭1   0.021279  0.456394  1.000000  0.841330  0.957948
수관폭2   0.037168  0.484295  0.841330  1.000000  0.961049
수관폭평균  0.030611  0.490456  0.957948  0.961049  1.000000

In [146]:
featCol = list(featuredData.columns)
label = ["착과량"]
feature = featCol[2:len(featCol)]
print(label)
print(feature)

['착과량']
['수고', '수관폭1', '수관폭2', '수관폭평균']

In [147]:
stdRatio = 0.7

In [148]:
stdIndex = int(featuredData.shape[0] * stdRatio)
stdIndex

1544

In [149]:
trainData = featuredData.loc[0:stdIndex, :]
testData = featuredData.loc[stdIndex+1:, :]

In [150]:
# 70
trainDataFeatures = featuredData.loc[0:stdIndex, feature]
trainDataLabel = featuredData.loc[0:stdIndex, label]
# 30
testDataFeatures = featuredData.loc[stdIndex+1:, feature]
testDataLabel = featuredData.loc[stdIndex+1:, label]

In [151]:
dtModel = tree.DecisionTreeRegressor(random_state=10)
dtModel

DecisionTreeRegressor(random_state=10)

In [152]:
trainDataFeatures

         수고   수관폭1   수관폭2  수관폭평균
0     275.0  287.0  292.0  289.5
1     293.0  284.0  336.0  310.0
2     300.0  392.0  450.0  421.0
3     289.0  368.0  379.0  373.5
4     306.0  353.0  358.0  355.5
...     ...    ...    ...    ...
1540  265.0  256.0  362.0  309.0
1541  234.0  328.0  356.0  342.0
1542  192.0  256.0  281.0  268.5
1543  158.0  216.0  236.0  226.0
1544  260.0  381.0  386.0  383.5

[1545 rows x 4 columns]

In [153]:
dtModel.fit(X = trainDataFeatures,
            y = trainDataLabel)

DecisionTreeRegressor(random_state=10)

In [154]:
predictDT = dtModel.predict(X = testDataFeatures)

In [155]:
testDataLabel["DT"] = predictDT
testDataLabel

      착과량     DT
1545  441  342.0
1546  199  299.0
1547  514  792.0
1548  270  699.0
1549  539  212.0
...   ...    ...
2202  119  686.0
2203  611  566.0
2204  650  599.0
2205  363  502.0
2206   17  396.0

[662 rows x 2 columns]

In [156]:
baseTestData = pd.read_csv("../dataset/test.csv")
baseTestData

,ID,수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TEST_0000,231.0,219.0,302.0,260.5,4.3,4.2,4.2,4.1,4.1,...,72.091497,71.906176,71.886799,71.858720,71.725540,71.531618,71.476935,71.321237,71.184295,71.000223
1,TEST_0001,206.0,324.0,346.0,335.0,2.5,2.5,2.5,2.5,2.5,...,68.423776,68.353200,68.346777,68.188159,67.995233,67.879958,67.744820,67.673522,67.539973,67.447849
2,TEST_0002,282.0,373.0,404.0,388.5,4.7,4.7,4.6,4.6,4.5,...,74.435783,74.247468,74.142664,74.070401,73.892408,73.796143,73.615838,73.440136,73.387051,73.228319
3,TEST_0003,234.0,337.0,357.0,347.0,3.6,3.6,3.6,3.6,3.5,...,73.570735,73.420243,73.313538,73.149298,73.109599,72.924511,72.847411,72.838263,72.672156,72.538171
4,TEST_0004,222.0,329.0,347.0,338.0,2.7,2.7,2.7,2.7,2.6,...,72.216758,72.163153,72.052952,71.905982,71.766141,71.746813,71.668847,71.501043,71.419715,71.328224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,TEST_2203,217.0,265.0,288.0,276.5,2.5,2.5,2.4,2.4,2.4,...,70.567966,70.528762,70.333905,70.245126,70.186665,70.010219,69.916747,69.771722,69.737748,69.601365
2204,TEST_2204,182.0,191.0,262.0,226.5,4.1,4.1,4.1,4.0,4.0,...,66.545938,66.485657,66.408375,66.255137,66.206650,66.079592,65.951010,65.884988,65.719787,65.632342
2205,TEST_2205,254.0,280.0,332.0,306.0,3.8,3.8,3.8,3.7,3.7,...,63.254101,63.134023,63.035379,62.877995,62.681351,62.499735,62.421901,62.417195,62.323963,62.307955
2206,TEST_2206,257.0,285.0,297.0,291.0,4.5,4.4,4.4,4.3,4.3,...,64.331650,64.137868,64.045153,63.944310,63.916583,63.797809,63.762720,63.681733,63.512114,63.343589
2207,TEST_2207,244.0,380.0,391.0,385.5,4.9,4.8,4.8,4.7,4.7,...,65.234026,65.040294,64.984074,64.824334,64.721448,64.602840,64.541821,64.367357,64.197975,64.025473

In [157]:
totalCol2 = list(baseTestData)
targetColIndex2 = []
for i in range(len(totalCol)):
    targetColIndex2.append(i)
    if totalCol2[i] == "수관폭평균" :
        break
targetColIndex2

[0, 1, 2, 3, 4]

In [158]:
featuredtestData = baseTestData.iloc[:,targetColIndex2]
featCol2 = list(featuredtestData.columns)
featCol2

['ID', '수고(m)', '수관폭1(min)', '수관폭2(max)', '수관폭평균']

In [159]:
changeCol2 = []
for i in range (len(featCol2)):
    splitCol2 = featCol2[i].split("(")
    changeCol2.append(splitCol2[0])
    featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)
featuredtestData

C:\Users\caose\AppData\Local\Temp\ipykernel_4000\3421703899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\3421703899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\3421703899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\3421703899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_4000\3421703899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featuredtestData.rename(columns={featCol2[i]:changeCol2[i]}, inplace=True)

             ID     수고   수관폭1   수관폭2  수관폭평균
0     TEST_0000  231.0  219.0  302.0  260.5
1     TEST_0001  206.0  324.0  346.0  335.0
2     TEST_0002  282.0  373.0  404.0  388.5
3     TEST_0003  234.0  337.0  357.0  347.0
4     TEST_0004  222.0  329.0  347.0  338.0
...         ...    ...    ...    ...    ...
2203  TEST_2203  217.0  265.0  288.0  276.5
2204  TEST_2204  182.0  191.0  262.0  226.5
2205  TEST_2205  254.0  280.0  332.0  306.0
2206  TEST_2206  257.0  285.0  297.0  291.0
2207  TEST_2207  244.0  380.0  391.0  385.5

[2208 rows x 5 columns]

In [160]:
featCol2 = list(featuredtestData.columns)
feature2 = featCol2[1:len(featCol2)]
print(feature2)

['수고', '수관폭1', '수관폭2', '수관폭평균']

In [161]:
testDataFeatures = featuredtestData.loc[:, feature2]
testDataFeatures

         수고   수관폭1   수관폭2  수관폭평균
0     231.0  219.0  302.0  260.5
1     206.0  324.0  346.0  335.0
2     282.0  373.0  404.0  388.5
3     234.0  337.0  357.0  347.0
4     222.0  329.0  347.0  338.0
...     ...    ...    ...    ...
2203  217.0  265.0  288.0  276.5
2204  182.0  191.0  262.0  226.5
2205  254.0  280.0  332.0  306.0
2206  257.0  285.0  297.0  291.0
2207  244.0  380.0  391.0  385.5

[2208 rows x 4 columns]

In [176]:
result = dtModel.predict(X = testDataFeatures)
resultData = pd.DataFrame(result, columns=["착과량"])
resultData

        착과량
0     167.0
1     683.0
2     792.0
3     226.0
4      78.0
...     ...
2203  652.0
2204  267.0
2205   60.0
2206  216.0
2207  463.0

[2208 rows x 1 columns]